<!DOCTYPE html> 
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<title>{{pageTitle}}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link rel="stylesheet" href="/css/view_votes_style.css" type="text/css" />
		<script src="/fieldValidations.js"></script>
	</head>

	<body> 
		<div id="page">
			<div id="header">
				{{#user}}
				Welcome, <a href="/viewProfile">{{user_name}}</a> |
				<a href="/signout">logout</a>
				{{/user}}
				{{^user}}
				<a href="/signup">join</a> |
				<a href="/signin">login</a>
				{{/user}}
			</div>
			
			<div id="menu">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about.html">About</a></li>
					{{#user}}<li><a href="/messages">Messages</a></li>{{/user}}
				</ul>
			</div>
			
			<div id="quick-task-bar">
				{{>quickTaskButtons}}
				{{#user}}<a href="/newMessage" id="new-msg-button">New Message</a>{{/user}}
				<form action="searchIssue" id="search-form">
					<input type="text" id="search-box" name="search" value="" />
					<input type="submit" id="search-button" value="Search" /> 
				</form>
			</div>
			
			{{#error}}
			<div class="flash validation-error">
				{{error}}
			</div>
			{{/error}}
		
			<div id="content"> 
				{{{content}}}
			</div> 
			
			<div id="footer">
				<p>&copy; 2011 University of Calgary. All rights reserved.</p>
			</div>
		</div>	
		
	</body> 
</html>
