<h1>Add Issue</h1>
{{#display}}
	{{#loggedIn}}
	What do you feel is an important issue that should be addressed by your city? Create a new issue here! <BR>(Fields marked with a <font color="#cc0000">*</font> are mandatory. Hover over <font style="border-bottom:1px dotted #000">underlined</font> text for more details.)<br>
	<form id="new_issue" name="new_issue" action="/addIssue" method="post" enctype="multipart/form-data" onsubmit="return checkMandatoryFields(this);">

		<p>Title<font color="#cc0000">*</font><input type="text" name="title" maxlength="{{inputlimit}}" autofocus /></p>
		
		<p>Description<font color="#cc0000">*</font> <Br>
		<textarea rows="25" cols="100" name="description" onKeyDown="checkFieldInputLimits(description, charsleft,{{textarealimit}});" onKeyUp="checkFieldInputLimits( description, charsleft,{{textarealimit}} );"></textarea>
		<br><font class="char-limit-text">Characters remaining in Description:</font> <input class="char-limit-box" readonly type="text" maxlength="5" name="charsleft" value="{{textarealimit}}" ></p>
		
		<p>Location <input type="text" name="location" maxlength="{{inputlimit}}" placeholder=" (optional)"/></p>
		<p>Relevant Link (please input only <b><i>one</i></b> link) <input type="text" name="link" maxlength="{{inputlimit}}" placeholder=" (optional)"/></p>
		<p><a class="hint" title="For example, entering 'roads tax' will file the issue with 2 tags: 'roads' and 'tax'">Tags (separate each tag with a space)</a> 
				<input id="tags" type="text" name="tags" maxlength="{{inputlimit}}" placeholder=" (optional)" /></p>
		<p>Upload Relevant Image <input type="file" name="file"/></p>

		<p><input type="submit" value="Create Issue" /></p>
	</form>
	<script type="text/javascript">
	$(function() {
			function split( val ) {
				return val.split( " " );
			}
			function extractLast( term ) {
				return split( term ).pop();
			}

			$( "#tags" )
				// don't navigate away from the field on tab when selecting an item
				.bind( "keydown", function( event ) {
					if ( event.keyCode === $.ui.keyCode.TAB &&
							$( this ).data( "autocomplete" ).menu.active ) {
						event.preventDefault();
					}
				})
				.autocomplete({
					minLength: 3,
						source: function( request, response ) {
						$.getJSON( "gettags", {
							term: extractLast( request.term )
						}, response );
					},
					focus: function() {
						// prevent value inserted on focus
						return false;
					},
					select: function( event, ui ) {
						var terms = split( this.value );
						// remove the current input
						terms.pop();
						// add the selected item
						terms.push( ui.item.value );
						// add placeholder to get the comma-and-space at the end
						terms.push( "" );
						this.value = terms.join( " " );
						return false;
					}
				});
		});
	</script>
	{{/loggedIn}}
	{{^loggedIn}}
	You must be <a href="signin">logged in</a> to add a new issue.
	{{/loggedIn}}
{{/display}}
{{#add}}
	{{#error}}
		Failed to add issue. Click <a href="javascript:history.back()">here</a> to try again.
	{{/error}}
	{{#fail}}
		Failed to add issue due to tagging error. Click <a href="javascript:history.back()">here</a> to try again.
	{{/fail}}
	{{#success}}
		Issue successfully added! Redirecting back to home page in 5 seconds.... or click <a href="/index.html">here</a> if you do not wish to wait.
		<script type="text/javascript">window.setTimeout("window.location.href={{index}}", 5000);</script>
	{{/success}}
{{/add}}
