<h1>Edit Your Profile</h1>
<form id="editProfile_form" action="handleEditProfile" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return editProfileValidate(this);">
	<p>Username<br><input type="text" name="username" value="{{username}}"></p>
	<p>Email<br><input type="text" name="email" value="{{email}}"></p>
	<p>Neighborhood<br><input type="text" name="neighborhood" value="{{neighborhood}}"></p>
	<p>Postal Code<br><input type="text" name="postal_code" value="{{postal_code}}"></p>
	<br>
	<p>New Password (optional)<br><input type="password" name="new_password"></p>
	<p>Confirm New Password<br><input type="password" name="confirm_password"></p>
	<p><input type="text" name="userid" style="visibility: hidden;" value="{{userid}}"><p>
	<br>
	<p>Password (required)<br><input type="password" name="password"></p>
<input type="submit" value="Update" />
</form>