<h1>Change Password</h1>

<form id= 'updatePassword_form' action="handleEditPassword" method="post">
	<p><h2>{{message}}</h2></p>
	<p>Password (required)<br><input type="password" name="password" maxlength="{{inputlimit}}"></p>
	<p>New Password<br><input type="password" name="new_password" maxlength="{{inputlimit}}"></p>
	<p>Confirm New Password<br><input type="password" name="confirm_password" maxlength="{{inputlimit}}"></p>
	<p><input type="text" name="userid" style="visibility: hidden;" value="{{userid}}" maxlength="{{inputlimit}}"><p>
	<input type='submit' value='Update'>
</form>

