{{#canEdit}}
<h1> Edit Issue Details </h1>
<form id="edit_issue" action="saveIssue" method="post" enctype="multipart/form-data" onsubmit="return checkMandatoryFields(this);">
	<p><input type="hidden" name="id" value="{{issueId}}"/></p>
	<p>Title<font color="#cc0000">* </font><input type="text" name="title" value= "{{title}}" maxlength="{{inputlimit}}" /></p>
	<p>Description<font color="#cc0000">*</font></br>
	<p><textarea rows="10" cols="50" name="description" onKeyDown="checkFieldInputLimits(description, charsleft,{{textarealimit}});" onKeyUp="checkFieldInputLimits( description, charsleft,{{textarealimit}} );">{{description}}</textarea>
		<br><font class="char-limit-text">Characters remaining in Description:</font> <input class="char-limit-box" readonly type="text" maxlength="5" name="charsleft" value="{{textarealimit}}" ></p>
		
	<p>Location <input type="text" name="location" value= "{{location}}" maxlength="{{inputlimit}}"  /></p>
	<p>Relevant File<br>
		<div id="edit_fileShow">
		Current File: {{#file_name}}<a href="{{file_link}}">{{file_name}}</a>
		<br><i>check here <input type="checkbox" name="deleteFile"/> to remove the file above.</i>
		<br><a href="javascript:void(0);" id="show_fileupload">[CHANGE FILE]</a>
		</div>
		<div id="edit_fileNew" style="display:none;">
		New File: <input id="file" type="file" name="file"/><br><br>
		<a href="javascript:void(0);" id="cancel_fileupload">[CANCEL]</a>
		</div>{{/file_name}}{{^file_name}}<i>no file.</i><br>
		Upload New File: <input id="file" type="file" name="file"/>
		</div>{{/file_name}}
		
	</p>
	<script type="text/javascript"> 
	$(function(){
		$('#cancel_fileupload').click(function(){
			$('#edit_fileShow').toggle();
			$('#edit_fileNew').toggle();
			$("#file").replaceWith($("#file").clone(true));
		}); 
		$('#show_fileupload').click(function(){
			$('#edit_fileShow').toggle();
			$('#edit_fileNew').toggle();
		}); 
	}); 
	</script> 
	<p>Relevant Link (please input only <b><i>one</i></b> link) <input type="text" name="link" value= "{{link}}" maxlength="{{inputlimit}}" /></p>
	<p><a class="hint" title="For example, entering 'roads tax' will file the issue with 2 tags: 'roads' and 'tax'">Tags (separate each tag with a space)</a> <input type="text" name="tags" value="{{tags}}"  maxlength="{{inputlimit}}" /></p>
	<p>Status <SELECT name="status">
		<OPTION VALUE="open" {{#openSelected}}SELECTED{{/openSelected}}>Open</OPTION>
		<OPTION VALUE="resolved" {{#resolvedSelected}}SELECTED{{/resolvedSelected}}>Resolved</OPTION>
	</SELECT></p>
	<p><input type="submit" value="Save Issue" /></p>
</form>
<br />
{{/canEdit}}
{{^canEdit}}
<p>You must be logged in as the original poster or an editor to edit this issue. Click <a href="viewIssue?id={{issueId}}">here</a> to view the issue again.</p>
<br />
{{/canEdit}}