<h1> {{title}} </h1>
{{^noResults}}
{{#wasSearch}}
<div>{{resultCount}} result(s) found.</div>
{{/wasSearch}}
<div class="issue-container">
<table style="width: 100%">
<tr>
<td class="text-center-style" style="width: 69px"><h3><a href="listIssues?{{switchDirQueryString}}{{searchQueryString}}sortby=status&page={{pageNumber}}">Status</a></h3></td>
<td class="text-center-style" style="width: 10%"><h3><a href="listIssues?{{switchDirQueryString}}{{searchQueryString}}sortby=promotes&page={{pageNumber}}">Promoted</a></h3></td>
<td class="text-center-style" style="width: 201px"><h3><a href="listIssues?{{switchDirQueryString}}{{searchQueryString}}sortby=title&page={{pageNumber}}">Title</a></h3></td>
<td class="text-center-style" style="width: 30%"><h3><a href="listIssues?{{switchDirQueryString}}{{searchQueryString}}sortby=lastModified&page={{pageNumber}}">Last Modified</a></h3></td>
</tr>
{{#content}}
<tr>
<td style="width: 69px" class="text-center-style">
{{iStatus}}
</td>
<td class="text-center-style">
<div class="promotes">{{promotes}}</div>
</td>
<td style="width: 250px">
<a href="./viewIssue?id={{iId}}">{{iTitle}}</a><br/>
<span class="sub-text">comments ({{comments}})</span> - <span class="sub-text">by <a href="viewProfile?id={{authorid}}">{{authorname}}</a></span>
</td>
<td class="text-center-style">
{{iLastModified}}
</td>
<!-- This view of votes is similar to the one seen in youtube -->
<!--
<li class="NoBullet">
<div class="small_view_votes_bar" style="width: 100px">
	<div style="width: {{likepercentage}}%;" class="small_view_votes_bar_likes"></div>
	<div style="width: {{dislikepercentage}}%;" class="small_view_votes_bar_dislikes"></div>
</div>
	<span class="like_dislike_count" style="font-size: 0.84em;">
		<span class="likes">{{likecount}}</span>
		likes,
		<span class="dislikes">{{dislikecount}}</span>
		dislikes
	</span>
</li>
-->

</tr>
{{/content}}
</table>
	<div id="pager">
	<a href="/?{{directionQueryString}}{{searchQueryString}}{{sortbyQueryString}}page=1">First</a>

	{{#previous}}
	<a href="/?{{directionQueryString}}{{searchQueryString}}{{sortbyQueryString}}page={{previous}}"><</a> 
	{{/previous}}

	{{#pager}}
		{{{page}}}
	{{/pager}}

	{{#next}}
	<a href="/?{{directionQueryString}}{{searchQueryString}}{{sortbyQueryString}}page={{next}}">></a>
	{{/next}}

	<a href="/?{{directionQueryString}}{{searchQueryString}}{{sortbyQueryString}}page={{pageCount}}"> Last</a>
	</div>
</div>
{{/noResults}}
{{#noResults}}
<tr>
    <td class="text-center-style" >
        <h2>No results where found.</h2>
    </td>
</tr>
{{/noResults}}
