<h1>Search results for: {{searchTerm}}</h1>
<div class="issue-container">
	{{#resultsWhereFound}}
	<div>{{numberOfResults}} where found.</div>
	{{/resultsWhereFound}}
	<table style="width: 100%">
		{{#resultsWhereFound}}
		<tr>
			<th class="text-center-style" style="width: 100px"><h3>Status</h3></th>
			<th class="text-center-style" style="width: 501px"><h3>Title</h3></th>		
			<th class="text-center-style"><h3>Last Modified</h3></th>
		</tr>
		{{/resultsWhereFound}}
		{{^resultsWhereFound}}
		<tr>
			<td class="text-center-style" >
				<h2>No results where found.</h2>
			</td>
		</tr>
		{{/resultsWhereFound}}

	{{#results}}
		<tr>	
			<td style="width: 69px" class="text-center-style">
				{{status}}
			</td>

			<td style="width: 201px" class="text-center-style">
				<a href="./viewIssue?id={{id}}">
					{{title}}
				</a>
			</td>			

			<td class="text-center-style">
				{{lastModified}}
			</td>

		</tr>
	{{/results}}
	</table>	
</div>