<h1>Signup</h1>
<form id="signup_form" action="signup" method="post" enctype="application/x-www-form-urlencoded" onsubmit="return signupValidate(this);">
	<p>Username<br><input type="text" name="username"></p>
	<p>Email<br><input type="text" name="email"></p>
	<p>Password<br><input type="password" name="new_password" value=""></p>
	<p>Confirm Password<br><input type="password" name="confirm_password" value=""></p>
	
	<p>Postal Code<br><input type="text" name="postalcode"></p>
	<p>Neighbourhood<br><input type="text" name="neighborhood"></p>
				
	<input type="submit" value="Submit" />
</form>
