{{#found}}
<div class="profile-view">
<table>
	<td>
		{{#avatar_image}}
			<img src="{{avatar_image}}" class="show-avatar">
		{{/avatar_image}}
		{{^avatar_image}}
			<div class="show-avatar"><br>No Image</div>
		{{/avatar_image}}
	</td>
	<td>	
		<h1>{{name}}</h1>
	</td>
</table>
<br>
<h2><strong>Personal Information{{#is_viewing_own_profile}} (<a href="editProfile">Edit</a>){{/is_viewing_own_profile}}</strong></h2>
<table class="profile-info">
	<tr>
		<td>
			<strong>Neighborhood:</strong> 
				{{neighborhood}}
		</td>
		<td>
			<strong>Postal Code:</strong> 
				{{postal_code}}
		</td>
	</tr>
	<tr>
		<td>
			<strong>Reputation:</strong>
				{{reputation}} 
		</td>
		<td>
			<strong>Facebook Account:</strong> 
				{{#facebook_account}}
					<a href="http://www.facebook.com/{{facebook_account}}" target="_new" title="External Site">{{facebook_account}}</a>
				{{/facebook_account}}
				{{^facebook_account}}
					None
				{{/facebook_account}}
				
		</td>
	</tr>
	<tr>
		<td>	
			<strong>Twitter Account:</strong> 
				{{#twitter_account}}
					<a href="http://twitter.com/#!/{{twitter_account}}" target="_new" title="External Site">{{twitter_account}}</a>
				{{/twitter_account}}
				{{^twitter_account}}
					None
				{{/twitter_account}}
		</td>
		<td>
			<strong>Website:</strong> 
				{{#website}}
			<a href="http://{{website}}" target="_new" title="External Site">http://{{website}}</a>
				{{/website}}
				{{^website}}
					None
				{{/website}}
		</td>
	</tr>
</table>
	{{^is_viewing_own_profile}} 
		{{#is_loggedin}}
			{{#is_followed}} 
				<a href="/unfollowUser?id={{user_id}}">Unfollow User</a>
			{{/is_followed}}
			{{^is_followed}} 
				<a href="/followUser?id={{user_id}}">Follow User</a>
			{{/is_followed}}
		{{/is_loggedin}}
	{{/is_viewing_own_profile}} 
<h2><strong>Issues</strong></h2>
	{{#has_issues}}
		<table class="profile-issues">
			<tr>
				<th class="text-center-style" style="width: 69px;"><h3>Status</h3></th>
				<th class="text-center-style" style="width: 301px;"><h3>Title</h3></th>
				<th class="text-center-style"><h3>Last Modified</h3></th>
			</tr>
			{{#issues_list}}
				<tr>
					<td style="width: 69px" class="text-center-style">
						{{status}}
					</td>
					<td style="width: 201px" class="text-center-style">
						<a href="./viewIssue?id={{id}}">{{title}}</a>
					</td>
					<td class="text-center-style">
						{{lastModified}}
					</td>
				</tr>
			{{/issues_list}}
		</table>
	{{/has_issues}}
	{{^has_issues}}
		{{#is_loggedin}}
			<p>You are not the author of any issues. Click <a href="/addIssue">here</a> to submit a new issue.</p>
		{{/is_loggedin}}
		{{^is_loggedin}}
			<p>This user is not an author of any issues.</p>
		{{/is_loggedin}}
	{{/has_issues}}
</div>
{{/found}}
{{^found}}
	<h1>User not found!</h1>
	<p>{{#user_id}}User with id <b>{{user_id}}</b> does not exist.{{/user_id}}{{^user_id}}No user was selected.{{/user_id}}<br/><br/><a href="/">Back to home</a></p>
{{/found}}
