
{{^error}}
{{#found}}

<table border=0 width="100%">
<tr>
	<td>
	<h1> {{title}} </h1>



	Created on {{created}}
	{{#user}}
		by	<a href="/viewProfile?id={{user_id}}" id="user_profile">{{user_name}}</a>
	{{/user}}
	<br />
	Status: {{status}}<br/>
	Location: {{location}}
	</td>
	<td width="215px">
	<div id="issue-stats">
		Last updated: {{lastModified}}
		<br>Comments: {{numComments}} 
		<br>Followers: {{numFollowers}} 
		<br>Views: {{numViews}}
	
	<br>Tags: {{#tags}}
		 <a href="/listTagIssues?tag={{name}}">{{name}}</a>
	{{/tags}}
	</div>
	<div>
	{{#allowEdit}}
	<br><br><a href="editIssue?id={{issue_id}}" id="add-issue-button">Edit Issue</a>
	{{/allowEdit}}
	</div>
	
	</td>
</tr>
</table>

<h3>Description</h3>
	<p>{{description}}</p>
	{{#link}}
	<p>More information: <a href="{{link}}"> here </a></p>
	{{/link}}
	{{#file_name}}
	<p>Relevant File: <a href="{{file_link}}"> {{file_name}}</a></p>
	{{/file_name}}
{{^user}}
	<p><em><a href='/signin'>Sign in</a> to follow or vote on this issues.</em></p>
{{/user}}
{{#user}}
	{{#following}}
		<p>
			You are following this issue.
		</p>
		<p>
			Click <a href="/unfollowIssue?id={{issue_id}}">here</a> to stop following this issue.
		</p>
	{{/following}}
	{{^following}}
		<p>
			<a href="/followIssue?id={{issue_id}}">Follow</a> this issue
		</p>
	{{/following}}
	{{^userHasVoted}}
		<p>
			<table style="width: 100%">
				<tr>
					<td style="width: 31px">
						<a href="/voteIssues?issueid={{issue_id}}&vote=0">
							<img src="images/thumb_up.png">
						</a>
					</td>
					<td style="width: 49px">Like</td>
					<td style="width: 31px">
						<a href="/voteIssues?issueid={{issue_id}}&vote=1">
							<img src="images/thumb_down.png">
						</a>
					</td>
					<td>Dislike</td>
				</tr>
			</table>
		</p>
		<!-- This view of votes is similar to the one seen in youtube -->
		<li class="NoBullet">
			<div class="view_votes_bar" style="width: 200px">
				<div style="width: {{likepercentage}}%;" class="view_votes_bar_likes"></div>
				<div style="width: {{dislikepercentage}}%;" class="view_votes_bar_dislikes"></div>
			</div>
			<span class="like_dislike_count" style="font-size: 0.85em;">
				<span class="likes">{{likecount}}</span>
				likes,
				<span class="dislikes">{{dislikecount}}</span>
				dislikes
			</span>
		</li>
	{{/userHasVoted}}
	{{#userHasVoted}}
		{{#userLiked}}
			<p><i>You Liked this Issue</i></p>
		{{/userLiked}}
		{{^userLiked}}
			<p><i>You Disliked this Issue</i></p>
		{{/userLiked}}
	{{/userHasVoted}}
{{/user}}



<h3>Comments</h3>
<input id='showcomments' type='button' value='Show/Hide Comments'>
<div id='comment'>
{{#comments}}
	<p>Created by: <a href="/viewProfile?id={{iCommentCreatorId}}" id="user_profile"> {{iCommentCreatorName}} </a> at {{iCommentCreatedTime}}</p>
	<p><input type="{{iButtonType}}" onClick="location.href='/editComments?cid={{iCommentId}}&iid={{iIssueId}}'" value="Edit" />
	<input type="{{iButtonType}}" onClick="location.href='/deleteComments?cid={{iCommentId}}&iid={{iIssueId}}'" value="Delete" /></p>
	<textarea name='comments' readonly cols='80' rows='5'>{{iCommentContent}}</textarea><br><br>
{{/comments}}
</div>
<script type='text/javascript'>
	$("#showcomments").css({position: 'relative'}).click(function(){
		$("#comment").toggle();
		this.hide();
	});
</script>

<h3>Add Your Comment Here</h3>
<form action="addcomments" method="post">
<p><textarea name="comments" rows="8" cols="50"></textarea></p>
<p><input type="submit" value="Submit Your Comment" /></p>
</form>
{{/found}}
{{^found}}
<h1>Issue not found!</h1>
<p>Issue with id <b>{{issue_id}}</b> does not exist.<br/><br/><a href="/">Back to home</a></p>
{{/found}}
{{/error}}
{{#error}}
<h2>Oops! We seem to be having issues right now :(</h2>
<p>The dev team has been notified... Please try again later.</p>
<a href="/">Back to home</a>
{{/error}}

