<table cellpadding="4" cellspacing="1" border="1" width="100%">
<tbody>
<tr valign="bottom" class="forumsubheading">
	<td align="center"><b>Author</b></td>
	<td align="center" nowrap=""><b>Message</b></td>
</tr>

<td bgcolor="#ffffff" width="20%" valign="top" nowrap="">
	<table width="100%" cellpadding="4" cellspacing="0" border="0">
	<tbody>
	<tr>
		<td width="100%"><font size="2"><b>{{fromUserName}}</b></font><br>
		<span class="smaller">{{msgDate}}<br>
		</span></td>
	</tr>
	</tbody></table>
	</td>

<td bgcolor="#ffffff" valign="top" width="80%">
	<table width="100%" cellpadding="4" cellspacing="0" border="0">
	<tbody><tr>
		<td width="100%"> <span class="smaller"><b>{{msgSubject}}</b></span>
		<p><font size="2">{{msgBody}}<br> </font>
</td>
</tr>
</tbody>
</table>
</td>


</tbody>
</table>
