<h1> {{title}} </h1>
Created on {{created}}
{{#user}}
	by	<a href="/viewProfile?id={{user_id}}" id="user_profile">{{user_name}}</a>
{{/user}}
<br />
Status: {{status}}<br/>
Location: {{location}}
<h3>Description</h3>
<p>{{description}}</p>
<p>More information: <a href="{{link}}"> here </a></p>
{{^user}}
	<p><em><a href='/signin'>Sign in</a> to vote on issues.</em></p>
{{/user}}
{{#user}}
	{{^userHasVoted}}
		<p>
			<table style="width: 100%">
				<tr>
					<td style="width: 31px">
						<a href="/voteIssues?issueid={{issue_id}}&vote=0">
							<img src="images/thumb_up.png">
						</a>
					</td>
					<td style="width: 49px">Like</td>
					<td style="width: 31px">
						<a href="/voteIssues?issueid={{issue_id}}&vote=1">
							<img src="images/thumb_down.png">
						</a>
					</td>
					<td>Dislike</td>
				</tr>
			</table>
		</p>
		<!-- This view of votes is similar to the one seen in youtube -->
		<li class="NoBullet">
			<div class="view_votes_bar" style="width: 200px">
				<div style="width: {{likepercentage}}%;" class="view_votes_bar_likes"></div>
				<div style="width: {{dislikepercentage}}%;" class="view_votes_bar_dislikes"></div>
			</div>
			<span class="like_dislike_count" style="font-size: 0.85em;">
				<span class="likes">{{likecount}}</span>
				likes,
				<span class="dislikes">{{dislikecount}}</span>
				dislikes
			</span>
		</li>
	{{/userHasVoted}}
	{{#userHasVoted}}
		{{#userLiked}}
			<p><i>You Liked this Issue</i></p>
		{{/userLiked}}
		{{^userLiked}}
			<p><i>You Disliked this Issue</i></p>
		{{/userLiked}}
	{{/userHasVoted}}
{{/user}}