{{#found}}
<table>
	<td style="width: 150px">
		{{#avatar_image}}
			<img src="{{avatar_image}}" style="width: 120px; height: 120px; border: 1px solid;">
		{{/avatar_image}}
		{{^avatar_image}}
			<div style="width: 120px; height: 120px; border: 1px solid; color: #AAAAAA; font-size: 2em; text-align: center;"><br>No Image</div>
		{{/avatar_image}}
	</td>
	<td>	
		<h1>{{name}}</h1>
	</td>
</table>
<br>
<h2>Personal Information{{#is_loggedin}} (<a href="editProfile" style="font-size: 0.9em">Edit</a>){{/is_loggedin}}</h2>
<table class="profile_view" style="width: 600px; font-size: 1.2em;" border="1.5">
	<tr>
		<td>
			<strong>Neighborhood</strong> 
				{{neighborhood}}
		</td>
		<td>
			<strong>Postal Code</strong> 
				{{postal_code}}
		</td>
	</tr>
	<tr>
		<td>	
			<strong>Reputation</strong>
				{{reputation}} 
		</td>
		<td>
			<strong>Facebook Account</strong> 
				{{facebook_account}}
		</td>
	</tr>
	<tr>
		<td>	
			<strong>Twitter Account</strong> 
				{{twitter_account}}
		</td>
		<td>
			<strong>Website</strong> 
				{{#has_website}}
			<a href="http://{{website}}" target="_new">http://{{website}}</a>
				{{/has_website}}
				{{^has_website}}
					{{website}}
				{{/has_website}}
		</td>
	</tr>
</table>
<h2 style="margin-bottom: 0px;">Issues</h2>
{{#has_issues}}
<table style="width: 100%; border: solid; margin-top: 0px;">
<tr style="border: solid;">
<th class="text-center-style" style="width: 69px;"><h3 style="margin-top: 0px;">Status</h3></th>
<th class="text-center-style" style="width: 201px;"><h3 style="margin-top: 0px;">Title</h3></th>
<th class="text-center-style"><h3 style="margin-top: 0px;">Last Modified</h3></th>
</tr>
{{#issues_list}}
<tr>
<td style="width: 69px" class="text-center-style">
{{status}}
</td>
<td style="width: 201px" class="text-center-style">
<a href="./viewIssue?id={{id}}">{{title}}</a>
</td>
<td class="text-center-style">
{{lastModified}}
</td>
</tr>
{{/issues_list}}
</table>
{{/has_issues}}
{{^has_issues}}
{{#is_loggedin}}
	<p>You are not the author of any issues. Click <a href="/addIssue">here</a> to submit a new issue.</p>
{{/is_loggedin}}
{{^is_loggedin}}
	<p>This user is not an author of any issues.</p>
{{/is_loggedin}}
{{/has_issues}}
{{/found}}
{{^found}}
<h1>User not found!</h1>
<p>{{#user_id}}User with id <b>{{user_id}}</b> does not exist.{{/user_id}}{{^user_id}}No user was selected.{{/user_id}}<br/><br/><a href="/">Back to home</a></p>
{{/found}}